.Button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 28px;
  border: none;

  font-size: 16x;
  color: #fff;

  background-color: #3f51b5;
}
